<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!---->
  {%- seo -%}
  <!---->
  <meta name="robots" content="{% if page.robots %}{{ page.robots }} {% else %}{{ site.robots }} {% endif %}">
  <link rel="icon" href="https://github.com/ProgVal/Supybot-website/raw/master/static/logo.png">
  <meta name="color-scheme" content="dark light">
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#ffb700">
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="#fdfdfd">
  <link rel="stylesheet" href="{{ "/assets/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
